<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symfony & table de pythagore</title>
</head>
<body>
    <h1>OMIYALE Esaie</h1>

<style>
        table { 
            margin-right:150px;
            margin-left:150px;
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        th {
            color: red;
        }
       
    </style>

    <div>
        {{ pythagoreHTML|raw }}
    </div>
    
</body>
</html>